* {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Ubuntu Mono', monospace;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    background-color: #fc9003;
    margin-bottom: 25px;
}

.menu__list {

    display: flex;
    max-width: 300px;
    justify-content: space-between;
}

.menu__list_item {
    box-sizing: border-box;
    width: 120px;
    text-align: center;


}

.menu__list_item a {

    color: #171513;
    font-size: 24px;
    margin: auto;

}

.active {
    background-color: #f58d05;
    border: #171513 0.5px solid;
}

.task_item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

/* .btn_block {
    width: 25%;
    margin: 0 auto;
} */
.btn_task {
    display: block;
}

.btn {

    padding: 5px;
    border-radius: 5px;

}
.task_text {
    font-size: 24px;
    margin-bottom: 20px;
}
.field {
    margin-bottom: 10px;
    width: 100%;
}
/* .field_item {
    display: flex;
    justify-items: ;
} */
.form {
    width: 25%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #c2c0be;
    border: #c2c0be 1px solid;
}
.form_block {
    margin: 0 auto;
}
.form_helper {
    font-size: 14px;
    margin: 0 auto;
    width: 75%;
}

.form_item {
    width: 75%;
    margin: 10px auto;
}