{% extends 'base.html' %}
{% block content %}
    <main>
        <form action="{% url 'mainapp:new_task' %}" method="post">
            {% csrf_token %}
            
            <div class="field">
                <div class="field_item">
                    {{ form.as_p }}
                    {% comment %} <p>Текст задачи</p>
                    <textarea name="new_task" id="new_task" cols="30" rows="10"></textarea> {% endcomment %}
                </div>
            </div>
            <input type="submit" value="Создать" class="btn">
        </form>
    </main>
{% endblock content %}
