<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu+Mono:ital@0;1&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <form action="" class="form_item">
                <div class="field">
                    <input type="email" name="email" placeholder="Эл. почта">
                </div>
                <div class="field">
                    <input type="password" name="password1" placeholder="Пароль">
                </div>
                <div class="field">
                    <input type="password" name="password1" placeholder="Подтверждение пароля">
                </div>
                <input type="button" value="Зарегистрироваться" class="btn">
            </form>
            <div class="form_helper">
                <p>
                    Есть аккаунт? <a href="./login.html">Войти</a>
                </p>
            </div>
        </div>

    </div>
</body>
</html>