<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu+Mono:ital@0;1&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="menu">
                <ul class="menu__list">
                    <li class="menu__list_item active"><a href="#">MY Tasks</a></li>
                    <li class="menu__list_item"><a href="#">Logout</a></li>
                </ul>
            </div>
        </nav>
        <main>
            <div class="task_detail">
                <p class="task_text">Научиться верстать</p>
                <div>
                    <button class="btn ">
                        <a href="#">Выполнено</a>
                    </button>
                    <button class="btn ">
                        <a href="#">Редактировать</a>
                    </button>
                    <button class="btn ">
                        <a href="#">Удалить</a>
                    </button>
                </div>
            </div>
        </main>
    </div>
    
</body>
</html>